In [8]:
import pandas as pd
import numpy as np
df=pd.read_csv("data1.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11559 entries, 0 to 11558
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer_ID       11559 non-null  int64
 1   Store Number      11559 non-null  int64
 2   Customer Segment  11559 non-null  object
 3   First Name        11559 non-null  object
 4   Last Name         11559 non-null  object
 5   Address           11559 non-null  object
 6   City              11559 non-null  object
 7   State             11559 non-null  object
 8   Zip               11559 non-null  int64
 9   Visits            11559 non-null  int64
 10  Spend             11559 non-null  float64
dtypes: float64(1), int64(4), object(6)
memory usage: 993.5+ KB
None

In [10]:
print(df.head())

   Customer_ID  Store Number Customer Segment First Name Last Name  \
0            1           100      Home Office     PAMELA    WRIGHT
1            2           100         Consumer    MELISSA      RUFF
2            3           104   Small Business  CONSTANTI   VLASSIS
3            4           104      Home Office        AMY  LOCKEMER
4            5           101      Home Office     DANELL    VALDEZ

               Address    City State    Zip  Visits    Spend
0       2316 E 5TH AVE  DENVER    CO  80206       1   206.95
1  2753 S MILWAUKEE ST  DENVER    CO  80210       1   228.27
2  16911 E HARVARD AVE  AURORA    CO  80013       1   432.44
3     3721 S PITKIN CT  AURORA    CO  80013       4  2101.11
4   2925 W COLLEGE AVE  DENVER    CO  80219       1  1404.09

In [11]:
print(df.tail())

       Customer_ID  Store Number Customer Segment First Name Last Name  \
11554        11555           104        Corporate    TIFFANY   GERDINE
11555        11556           104        Corporate    KATHRYN  AMUNDSON
11556        11557           101      Home Office      CAROL  LAROCQUE
11557        11558           100      Home Office   MADELINE   SCHLENZ
11558        11559           104        Corporate  GERALDINE    EMRICK

                   Address       City State    Zip  Visits    Spend
11554     1380 S IDALIA ST     AURORA    CO  80017       7  7324.13
11555  9791 JEFFERSON PKWY  ENGLEWOOD    CO  80112       3  1556.72
11556   9457 W HAMILTON DR     DENVER    CO  80227       7  7202.08
11557      5533 BEDFORD CT     DENVER    CO  80239      12  5620.84
11558     2736 S VICTOR ST     AURORA    CO  80014      12  8049.95

In [12]:
print(df.columns)

Index(['Customer_ID', 'Store Number', 'Customer Segment', 'First Name',
       'Last Name', 'Address', 'City', 'State', 'Zip', 'Visits', 'Spend'],
      dtype='object')

In [13]:
state_df=df['State']
print(state_df)

0        CO
1        CO
2        CO
3        CO
4        CO
         ..
11554    CO
11555    CO
11556    CO
11557    CO
11558    CO
Name: State, Length: 11559, dtype: object

In [14]:
subset=df[['City','State','Zip']]
print(subset)

            City State    Zip
0         DENVER    CO  80206
1         DENVER    CO  80210
2         AURORA    CO  80013
3         AURORA    CO  80013
4         DENVER    CO  80219
...          ...   ...    ...
11554     AURORA    CO  80017
11555  ENGLEWOOD    CO  80112
11556     DENVER    CO  80227
11557     DENVER    CO  80239
11558     AURORA    CO  80014

[11559 rows x 3 columns]

In [15]:
print(df.shape)

(11559, 11)

In [1]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4, 5],
                   'B': ['a', 'b', 'c', 'd', 'e']},
                  index=['one', 'two', 'three', 'four', 'five'])

# Using iloc to select data by numerical position
iloc_result = df.iloc[1:3, 0]  # Selects rows 2 to 3 and column 1
print("Using iloc:")
print(iloc_result)

# Using loc to select data by labels
loc_result = df.loc['two':'four', 'A']  # Selects rows 'two' to 'four' and column 'A'
print("\nUsing loc:")
print(loc_result)

Using iloc:
two      2
three    3
Name: A, dtype: int64

Using loc:
two      2
three    3
four     4
Name: A, dtype: int64